# ============== #
.env
*.key
*.crt
*.pem

# ============== #
containers/alertmanager.yml
py_scripts/*.py

# ============== #
containers/nextcloud/db/
containers/nextcloud/data/
containers/nextcloud/config/
containers/qbittorrent/config/
containers/qbittorrent/downloads/
containers/adguardhome/work/
containers/homeassistant/
containers/zigbee2mqtt/
containers/mosquitto/data/
containers/mosquitto/log/
containers/navidrome/data/
containers/kavita/config/
containers/minecraft-bedrock/
containers/fireflyiii/db/
containers/fireflyiii/data/
containers/fireflyiii/config/

# ============== #
containers/prometheus_data/
containers/grafana_data/
containers/alertmanager_data/

# ============== #
.DS_Store
Thumbs.db
*.swp
*.swo
.idea/
.vscode/